<mat-accordion>
  <div *ngFor="let item of items">
    <div *ngIf="item.active">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{item.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      Mfg: {{item.mfg}}
      <br />
      Price: ${{item.price}}
    </mat-expansion-panel>
  </div>
  </div>
  <!--   
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Cat data
      </mat-panel-title>

    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="Cat name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Age">
    </mat-form-field>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Self aware panel {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel> -->
</mat-accordion>